h2 Properties
- var idx = 0
each item in data
    .indented
        .row
            .col-md-3
                - var street = item.children[2].children[0].textContent
                - var city = item.children[2].children[2].textContent
                - var state = item.children[2].children[3].textContent
                - var zip = item.children[2].children[1].textContent
                - var address = street + "\n" + city+", " + state + " " + zip
                - var link = idx
                - var detail = 'properties.displayDetailView('+idx+')'
                h5.subtitle Address
                = address
                br
                a(onClick=detail, href="#") Details
                - idx++
